@import url(fonts.css);
/* --------------------ROOT START-------------------- */
:root {
    --fontFirst: "Noto Sans";
    --scrollBg: #313131;
    --bodyBg: #FFF;
    --colorBgText: #313131;
    --navFooterBg: #313131;
    --serviceIconColor: #FFF;
    --linkColor: #FFF;
    --serivceBg: #313131;
    
    
    
    --colorWhite: #FFF;
    --colorBlack: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    /* FIXED cross platform (min-width: 1200px;) */
    font-family: var(--fontFirst);
    background: var(--bodyBg);
    color: var(--colorBgText);
}
.container {
    /* FIXED cross platform (width: 1200px;) */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollBg);
    border-radius: 3px;
}
.text-limit {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}
.text-limit:active {
    -webkit-line-clamp: unset;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
/* --------------------ROOT END-------------------- */
/* --------------------SERVICE START-------------------- */
.service {
    background: var(--serivceBg);
}
.service__icon {
    color: var(--serviceIconColor);
    font-size: 20px;
}
.service__dropdown {
    color: var(--serviceIconColor);
    font-size: 20px;
    transition: 500ms;
}
.service__link {
    border: none;
    background: none;
    color: var(--linkColor);
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.dropdown:hover .service__dropdown {
    transform: rotateX(180deg);
}
/* --------------------SERVICE END-------------------- */

/* --------------------NAV START-------------------- */
/* --------------------NAV END-------------------- */


/* --------------------HEADER START-------------------- */
/* --------------------NAV START-------------------- */
/* --------------------NAV END-------------------- */
/* --------------------HEADER END-------------------- */

/* --------------------MAIN START-------------------- */
/* ----------SECTION ONE---------- */
/* ----------SECTION TWO---------- */
/* ----------SECTION THREE---------- */
/* ----------SECTION FOUR---------- */
/* ----------SECTION FIVE---------- */
/* ----------SECTION SIX---------- */
/* --------------------MAIN END-------------------- */

/* --------------------FOOTER START-------------------- */
/* --------------------FOOTER END-------------------- */
